:root {
  --main-accent-color: #00549c;
  --main-body-bg-color: #ffffff;
  --main-box-bg-color: #f2f4fa;
  --main-box-bg-color-op: #eaeff8;
  --main-text-color: #616161;
  --main-secondary-text-color: #787878;
  --main-input-border-bottom: 1px solid #00549c;
  --main-input-border-bottom-active: 1px solid #00549c;
  --main-border-color: var(--main-text-color);
  --main-accent-color: #00549c;
  --main-active-color: #00549c30;
  --main-hover-color: #00549c30;
  --main-font-size: 14px;
  --main-table-bg-row: #f2f4fa;
  --main-secundary-font-size: 14px;
  --main-accent-font-size: 13px;
  --main-checkbox-border: 2px solid var(--main-border-color);
  --main-checkbox-border-hover: 2px solid #00549c;
  --main-box-shadow: 0px 0px 1px 0px rgba(180, 180, 180, 1), 0 4px 18px 0 rgba(0,0,0,.12), 0 7px 10px -5px rgba(0,0,0,.15);
  --main-notification-bkg: #afafaf40;
  --main-icon-font-size: 18px;
  --main-box-shadow-line: 0 7px 14px 0 rgb(60 66 87 / 5%), 0 3px 6px 0 rgb(0 0 0 / 5%), 0 0 1px rgb(0 0 0 / 10%);
  --main-input-bkg-color: #e5e7ee;
  --main-input-error-bkg-color: #ffefef;
  --main-section-header-bkg: #eaeff8;
}

html {
  margin: 0;
  padding: 0;
  height: 100%;
}

body {
  background-color: var(--main-body-bg-color);
  font-family: "Noto Sans", sans-serif;
  height: 100%;
  margin: 0;
  padding: 0;
}

input,
textarea,
button,
a {
  font-family: "Noto Sans", sans-serif;
}

.wrapper {
  display: flex;
  flex-direction: column;
  margin: auto;
  position: relative;
  top: 100px;
}

h1 {
  color: var(--main-text-color);
  display: block;
  font-size: 24px;
  font-weight: 600;
  line-height: 1;
  margin: 0;
  padding: 20px 0 19px 0;
  position: relative;
  text-align: center;
  text-transform: uppercase;
  z-index: 1;
}

h2 {
  color: var(--main-text-color);
  display: block;
  font-size: 18px;
  font-weight: 600;
  line-height: 1;
  margin-bottom: 15px;
  position: relative;
  text-align: center;
  z-index: 1;
}

.login-form-wrapper {
  align-self: center;
  background-color: var(--main-box-bg-color);
  border-radius: 10px;
  box-shadow: var(--main-box-shadow);
  margin: 20px;
  overflow: hidden;
  padding: 10px;
  position: relative;
  width: 400px;
  z-index: 1;
}

.login-form-wrapper form {
  width: 100%;
}


.input-text {
  margin-bottom: 35px;
  position: relative;
  width: 100%;
}

.input-text label {
  background-color: transparent;
  color: var(--main-text-color);
  font-size: var(--main-secundary-font-size);
  font-weight: 600;
  left: 6px;
  padding: 0 4px;
  pointer-events: none;
  position: absolute;
  text-transform: uppercase;
  top: 8px;
  transition-duration: 50ms;
}

.input-text input {
  background-color: var(--main-input-bkg-color);
  border: 0;
  border-radius: 10px;
  box-sizing: border-box;
  caret-color: var(--main-accent-color);
  color: var(--main-text-color);
  font-size: var(--main-font-size);
  margin: 0;
  outline: none;
  padding: 8px 10px;
  width: 100%;
  /* box-shadow: 0 4px 4px 0 rgb(60 66 87 / 5%), 0 3px 4px 0 rgb(0 0 0 / 5%), 0 0 1px rgb(0 0 0 / 25%); */
}

.input-text input:focus {
  outline: none;
}

.input-text input ~ label {
  text-transform: uppercase;
}

.input-text input.no-empty ~ label {
  color: var(--main-accent-color);
  font-size: var(--main-secundary-font-size);
  top: -20px;
}

.input-text input.active ~ label {
  color: var(--main-accent-color);
  font-size: var(--main-secundary-font-size);
  top: -20px;
}

.login-form-wrapper form button {
  -webkit-user-select: none;
  align-self: center;
  background: transparent;
  border-radius: 10px;
  border: none;
  color: var(--main-text-color);
  cursor: pointer;
  display: flex;
  font-size: var(--main-font-size);
  font-weight: 600;
  margin: 10px auto;
  outline: none;
  padding: 7px 20px;
  position: relative;
  text-transform: uppercase;
  user-select: none;
}

.login-form-wrapper form button:hover {
  background-color: var(--main-hover-color);
}

.login-form-wrapper form button:active {
  background-color: var(var(--main-box-bg-color));
  color: var(--main-accent-color);
}

#error-msg {
  color: var(--main-color-error);
  font-size: var(--main-font-size);
  margin: 10px 0;
  text-align: center;
  text-transform: uppercase;
}


#user_name_error,
#user_pass_error {
  display: none;
}

#user_name_hint,
#user_name_error,
#user_pass_hint,
#user_pass_error {
  color: var(--main-secondary-text-color);
  font-size: var(--main-secundary-font-size);
  font-weight: 600;
  padding-left: 10px;
  position: relative;
  text-transform: uppercase;
}

#user_name_error.error,
#user_pass_error.error {
  color: red;
  display: block;
}

#description {
  color: var(--main-text-color);
  font-size: 14px;
  margin-bottom: 0 0 15px 0;
  text-align: center;
  text-transform: uppercase;
}

#success-msg {
  color: #4caf50;
  font-size: var(--main-font-size);
  margin: 10px 0;
  text-align: center;
  text-transform: uppercase;
}

#app-logo {
  display: flex;
  height: 32px;
  margin: 40px auto;
}

@media screen and (max-width: 480px) {
  .login-form-wrapper {
    width: calc(100% - 40px);
  }
}

#header {
  display: flex;
  margin: 50px auto;
  width: 100%;
}

#host-logo {
  height: 32px;
  margin: auto;
  width: 104px;
}

#footer {
  -webkit-user-select: none;
  bottom: 0;
  color: var(--main-text-color);
  display: flex;
  justify-content: center;
  left: 0;
  margin: auto;
  padding: 5px 0;
  position: absolute;
  right: 0;
  user-select: none;
  z-index: 1;
}

#footer span {
  align-self: center;
  display: flex;
  font-size: 10px;
  margin: auto 5px auto 5px;
}

#footer a {
  outline: none;
}

#footer img {
  display: flex;
  position: relative;
  top: 0;
  width: 150px;
}

#footer span {
  align-self: center;
  display: flex;
  font-size: 10px;
  margin: auto 5px auto 5px;
}


#links-wrapper {
  display: flex;
  margin: 10px 0 0 0;
}

a {
  color: var(--main-text-color);
  display: flex;
  flex-grow: 1;
  font-size: var(--main-secundary-font-size);
  text-decoration: none;
}

a:hover {
  color: var(--main-accent-color);
}

#links-wrapper a:last-child {
  justify-content: flex-end;
}

#content-wrapper {
  position: relative;
  z-index: 2;
}

/*.login-form-wrapper:after {*/
/*  background-color: var(--main-box-bg-color);*/
/*  border-radius: 100%;*/
/*  content: "";*/
/*  margin: auto;*/
/*  position: absolute;*/
/*  right: 0;*/
/*  top: 0;*/
/*  z-index: 1;*/
/*}*/

/*.login-form:after {*/
/*  height: 550px;*/
/*  width: 900px;*/
/*}*/

/*.register-form:after {*/
/*  height: 1180px;*/
/*  width: 820px;*/
/*}*/


input[type="radio"] {
  -webkit-appearance: none;
  appearance: none;
  margin: 0;
  font: inherit;
  color: var(--main-accent-color);
  width: 20px;
  height: 20px;
  border-bottom: 2px solid var(--main-text-color);
  border: 0;
  display: grid;
  place-content: center;
  cursor: pointer;
}

input[type="radio"]::before {
  content: "";
  width: 0.65em;
  height: 0.65em;
  border-radius: 50%;
  transform: scale(0);
  box-shadow: inset 1em 1em var(--main-accent-color);
}

input[type="radio"]:checked::before {
  transform: scale(1);
}

input[type="radio"]:checked {
  border: 2px solid var(--main-accent-color);
}

input[type="radio"]:focus {
  outline-offset: max(2px, 0.15em);
}


#inline {
  display: grid;
  grid-column-gap: 15px;
  grid-template-columns: repeat(3, 1fr);
  justify-items: center;
}

.input-radio {
  display: flex;
  padding: 5px 0;
}

.input-radio label {
  color: var(--main-text-color);
  font-size: var(--main-font-size);
  font-weight: 600;
  margin-left: 10px;
  pointer-events: none;
  text-transform: uppercase;
}
